.sphere {
	width: 70vh;
	background-color: #131862;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
}

@media (orientation: portrait) {
	.sphere {
		width: 70vw;
	}	
}
 
.sphere:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}